.linkNav
    text-decoration: none
    color: white

.liNav
    text-align: center
    margin-top: 40%

.liNav1
    text-align: center
    margin-top: 40%
    margin-bottom: 150%

.ulNav
    display: flex
    flex-direction: column
    padding: 0

.statusImgNav
    height: 50px

.tablesImgNav
    height: 50px

.logout
    text-decoration: none
    color: white

.usernameNav
    font-size: larger

.waiterNav
    margin-top: 30%

