.divDetalleItem
    display: flex
    justify-content: center

.orderInTaking
    padding: 5%

.divHeadOrder
    display: flex

.divHead1
    width: 50%
    display: flex
    justify-content: center

.divHead2
    width: 50%
    display: flex
    justify-content: center

.pdivHead1
    color: #383838
    font-weight: bold
    font-size: large
    padding: 2%

.pdivHead2
    color:#9B9A97
    font-weight: bold
    font-size: large
    padding: 2%

.divClientOrder
    display: flex
    justify-content: center
    align-items: center

.divClient1
    width: 30%
    display: flex
    justify-content: center

.divClient2
    width: 70%
    display: flex
    justify-content: center

.inputClient
    border: none
    background: rgba(255, 195, 0, 0.5)
    height: 100%


table 
    width: 100%
    text-align: center

.divOrderDetailBig
    height: 99%
    border-style: solid
    margin-top: 50px
    border-radius: 0 0 50px 50px
    border-width: 0.5px
    border-color: dimgrey

tbody 
    tr:nth-child(odd) 
        background-color:#fff8e2


tbody 
    tr:nth-child(even) 
        background-color: #FFFFFF


thead 
    tr 
        th 
            Font-Family: 'Monserrat', Sans-Serif
            font-size: medium
            width: 30%

.itemNameTable
    font-weight: 600
    font-size: large

.detalleItemTable
    font-weight: lighter

.divDetalleItem
    margin-left: 8px

.itemNameTableDetail
    color: crimson
    font-weight: 600

.divTotal
    display: flex
    justify-content: center
    align-items: center

.pDivTotal
    font-size: large
    font-weight: 600

.btnEnviarCocina
    width: 200px
    height: 50px
    margin: 10px
    background: #ABD279
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    font-family: Montserrat
    font-size: large

.btnCancelarOrden
    width: 200px
    height: 50px
    background: #FFFFFF
    border: 0.5px solid #000000
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 5px
    margin: 10px
    font-family: Montserrat
    font-size: large

.btnFinalOrder
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 50px

.btnSumaTble
    background: white
    border-radius: 5px
    font-size: medium
    width: 30px
    height: 30px
    font-weight: bold
    margin: 8px
    border: 0.5px solid #000000

.btnDeleteTble
    background: white
    border-radius: 5px
    font-size: medium
    height: 30px
    margin: 8px
    border: 0.5px solid #000000

// .submitNameClient
//     background: white
//     border-radius: 5px
//     font-size: medium
//     margin: 8px
//     border: 0.5px solid #000000
